html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333333;
}

button {
  margin-top: 16px;
  padding: 20px;
}

.app {
  display: grid;
  grid-template: repeat(16, 1fr) / repeat(16, 1fr);
  gap: 8px;
}

.tile {
  width: 20px;
  height: 20px;
  background-color: lime;
  border: solid 1px black;
  cursor: pointer;
}

.active {
  background-color: red;
}
