html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

button {
  margin-top: 16px;
  padding: 20px;
}

.app {
  display: grid;
  grid-template: repeat(16, 1fr) / repeat(16, 1fr);
  gap: 4px;
}

.tile {
  width: 24px;
  height: 24px;
  background-color: #333333;
  border-radius: 3px;
  cursor: pointer;
}

.active {
  background-color: #ffffff;
}

.blink {
  animation-name: blink;
  animation-duration: 1s;
}

@keyframes blink {
  0% {
    background-color: blue;
  }

  100% {
    background-color: #ffffff;
  }
}
